.index{
	header{
		@include clearfix();
		h1{
			display:inline-block;
		}
		span{
			font-size: 2em;
			float:right;
			margin-top: 20px;
			cursor: pointer;
			&:hover{
				background-color: lightgray;
				color: black;
			}
		}
		.menu{
			position:absolute;
			background-color:rgba(0,0,0,0.7);
			z-index: 1000000;
			right: 0;
			width: 100%;
			ul{
				text-align: center;
				li{
					padding:10px 0;
					border-bottom:0.4px solid gray;
					cursor:pointer;
					&:hover{
						background-color:rgba(0,0,0,0.1);
					}
					a{
						color:#fff;
						text-decoration:none;
					}
				}
			}
		}
	}
	form{
		margin-top: 10%;
		padding:15px;
		background-color: lightgray;
		border-radius: 10px;
		h2{
			text-align:center;
		}
		.btn{
			width:100%;
			text-transform: uppercase;
		}
		.or{
			text-align:center;
			margin:10px 0;
		}
	}
}