//theme-blue
$container-color:#e1e8f0;
$header-color:#313131;
$input-box-color:#3b6897;
$light-blue-color:#129fdd;
$dark-blue-color:#3171b5;
$grey-color:#d4d4d4;
$white-color:#fff;
$main-color:#c0dfd9;
$peach-color:#a9ccb6;

//braekpoints variables

$screen-phone:480px;
$screen-tablet:767px;
$screen-desktop:924px;

//fonts
$black-font: url("../../fonts/sourcesanspro/SourceSansPro-Black.ttf");
$black-italic-font: url("../../fonts/sourcesanspro/SourceSansPro-BlackItalicttf");
$bold-font: url("../../fonts/sourcesanspro/SourceSansPro-Bold.ttf");
$bold-italic-font: url("../../fonts/sourcesanspro/SourceSansPro-BoldItalic.ttf");
$extra-light-font: url("../../fonts/sourcesanspro/SourceSansPro-ExtraLight.ttf");
$extra-light-italic-font: url("../../fonts/sourcesanspro/SourceSansPro-ExtraLightItalic.ttf");
$italic-font: url("../../fonts/sourcesanspro/SourceSansPro-Italic.ttf");
$light-font: url("../../fonts/sourcesanspro/SourceSansPro-Light.ttf");
$light-italic-font: url("../../fonts/sourcesanspro/SourceSansPro-LightItalic.ttf");
$regular-font: url("../../fonts/sourcesanspro/SourceSansPro-Regular.ttf");
$semibold-font: url("../../fonts/sourcesanspro/SourceSansPro-Semibold.ttf");

//Common
$body-font-size: 16px;
$body-font-style: normal;
$body-font-family: Light;
$body-secondary-font: Arial;
$h1-font-size: 3em;
$h2-font-size: 2.5em;
$h3-font-size: 2em;
$h4-font-size: 1.7em;
$h5-font-size: 1.33em;
$h6-font-size: 1.17em;

//header
$header-background:#1c3957;

//buttons

//anchor