$h1-color: $white-color;
$body-color: $white-color;
$link-color: $background-color;
$btn-primary-bg: $dark-blue-color;
$bg-color: $background-color;
$header-bg-color: $header-background;
$main-bg-color: $main-color;
$form-background: $peach-color;